/* ----- generic setup stuff ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    margin: 16px 0px;
}

/* ----- importing custom fonts ----- */

@font-face {
    font-family: "Orienta"; /*a name to be used later*/
    src: url("./fonts/Orienta-Regular.ttf"); /*URL to font*/
}
 
/* ----- actual styles for components ----- */

/* Title bar section */

.title {
    font-size: 4vh;
    font-family: "Orienta";
    padding-top: 1vh; 
    padding-bottom: 1vh;
    padding-left: 1vw;
    border-bottom: 2px solid crimson;
    background-color: #f8f8f8; 
}

/* Main console section */

.main-console {
    display: flex;
    flex-grow: 1;
}

/* Filter Bar section */

.filtertitle {
    font-size: 20px;
    font-family: "Orienta";
    padding-top: 1vh; 
    padding-bottom: 3vh;
   
}

.filter-container {
    height: 100%;
    width: 20vw;
    border-right: 2px solid crimson;
    padding: 20px; 
    box-sizing: border-box; 
    background-color: #f8f8f8; 
}

.filter {
    margin-bottom: 15px;
    font-size: 12px; 
    color: #333; 
    font-family: "orienta";
    margin-bottom: 20px;
  }
  
  .filter label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px; 
    font-family: "orienta";
  }
  
  .filter select {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px; 
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    cursor: pointer; 
    font-family: "orienta";
  }

  .btn-update-map {
    background-color: white; 
    border: 2px solid crimson;
    color: black;
    border-radius: 8px;
    padding: 8px 14px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-family: "orienta";
    margin: 22px 55px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .btn-update-map:hover {
      background-color: crimson ;
      color: white;
    }


/* Navbar section */

.navbarandmap {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-container {
    height: 7%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #f8f8f8;
  }

  li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    font-family: "Orienta";
  }
  
  li:hover {
    background-color: #ddd;
  }


/* Map section */

/* Generic */

.btn {
    background-color: white; 
    border: 2px solid crimson;
    color: black;
    border-radius: 8px;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-family: "orienta";
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.btn:hover {
      background-color: crimson ;
      color: white;
}

.DampCategoryTag {
        background-color: lightblue; 
        border-radius: 8px;
        padding: 4px 6px;
        text-align: center;
        margin: 4px 2px;
}
      
.BinCategoryTag {
          background-color: gold; 
          border-radius: 8px;
          padding: 4px 6px;
          text-align: center;
          margin: 4px 2px;
}
      
.NeighbourCategoryTag {
          background-color: orchid; 
          border-radius: 8px;
          padding: 4px 6px;
          text-align: center;
          margin: 4px 2px;
}
      
.PositiveSentimentTag {
          background-color: chartreuse; 
          border-radius: 8px;
          padding: 4px 6px;
          text-align: center;
          margin: 4px 2px;
}
      
.MildlyPositiveSentimentTag {
          background-color: lightgreen; 
          border-radius: 8px;
          padding: 4px 6px;
          text-align: center;
          margin: 4px 2px;
}
      
.NeutralSentimentTag {
          background-color: coral; 
          border-radius: 8px;
          padding: 4px 6px;
          text-align: center;
          margin: 4px 2px;
}
      
.MildlyNegativeSentimentTag {
          background-color: orangered; 
          border-radius: 8px;
          padding: 4px 6px;
          text-align: center;
          margin: 4px 2px;
}
      
.NegativeSentimentTag {
          background-color: crimson; 
          border-radius: 8px;
          padding: 4px 6px;
          text-align: center;
          margin: 4px 2px;
}

/* Actual Map */

.leaflet-container {
    height: 93%;
    width: 80vw;
}

/* Popup */

.PopupRegularText {
    font-family: "Orienta";
    font-size: 13px;
}

.PopupTitleText {
    font-family: "Orienta";
    font-size: 14px;
}

/* Additional Info Box */

.additional-info-box {
    position: fixed;
    top: 13.5vh;
    right: 0;
    width: 20vw;
    height: 100%;
    padding: 32px;
    background-color: white;
    z-index: 1000;
}

.AddInfoBoxRegularText {
    font-family: "Orienta";
    font-size: 14px;
}

.AddInfoBoxTitleText {
    font-family: "Orienta";
    font-size: 18px;
}

/* Dashboard Stuff */

.dashboard-container {
    height: 93%;
    width: 80vw;
}








/* Legacy:

.info-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

*/