/* ----- generic setup stuff ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ----- importing custom fonts ----- */

@font-face {
    font-family: "Orienta"; /*a name to be used later*/
    src: url("./fonts/Orienta-Regular.ttf"); /*URL to font*/
}
 
/* ----- actual styles for components ----- */

/* Title bar section */

.title {
    font-size: 4vh;
    font-family: "Orienta";
    padding-top: 1vh; 
    padding-bottom: 1vh;
    padding-left: 1vw;
    border-bottom: 4px solid red;
}

/* Main console section (not very much needed here) */

.main-console {
    display: flex;
    flex-grow: 1;
}

/* Filter Bar section */

.filter-container {
    width: 20vw;
    border-right: 4px solid red;
}

.filter {
    margin-bottom: 10px;
  }
  
  .filter label {
    display: block;
    margin-bottom: 5px;
  }
  
  .filter select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }



/* Map section */


.leaflet-container {
    height: 100%;
    width: 80vw;
}

.info-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.info-popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    z-index: 1000;

}

.PopupRegularText {
    font-family: "Orienta";
    font-size: 13px;
}

.PopupTitleText {
    font-family: "Orienta";
    font-size: 14px;
}

.BoxRegularText {
    font-family: "Orienta";
    font-size: 14px;
}

.BoxTitleText {
    font-family: "Orienta";
    font-size: 18px;
}

.btn {
  background-color: white; 
  border: 2px solid red;
  color: black;
  border-radius: 8px;
  padding: 6px 12px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-family: "orienta";
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn:hover {
    background-color: red ;
    color: white;
  }

